.checkoutProduct {
  display: flex;
  margin: 20px 0;
}
.checkout_link {
  display: flex;
}
.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin-right: 20px;
  transition: transform 0.2s ease-in;
  transform: scale(100%);
}
.checkoutProduct_image:hover {
  transform: scale(105%);
}

.checkoutProduct_info {
  flex: 1;
}

.checkoutProduct_title {
  display: flex;
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 10px;
}

.checkoutProduct_price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.checkoutProduct_rating {
  display: flex;
  margin-bottom: 10px;
}

.checkoutProduct_rating p {
  margin: 0 2px;
}

.checkoutProduct_rating p:last-child {
  margin-right: 0;
}

.checkoutProduct_info > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.checkoutProduct_info > button:hover {
  background-color: #9c7e30;
}
.checkout_link {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .checkoutProduct_image {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  .checkoutProduct_title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .checkoutProduct_price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .checkoutProduct_info > button {
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .checkoutProduct {
    flex-direction: column;
  }
  .checkoutProduct_image {
    width: 150px;
    height: 150px;
  }
  .checkoutProduct_title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .checkoutProduct_price {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .checkoutProduct_info > button {
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
  }
  .checkoutProduct_count button {
    font-size: 10px;
  }
  .checkoutProduct_info {
    width: 90%;
  }
}
@media (max-width: 300px) {
  .checkoutProduct_info {
    width: 40%;
  }
}
