.header {
  background-color: #131931;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
}
.header_logo {
  width: 100px;
  margin: 0 10px;
  margin-top: 10px;
  border: 1px solid transparent;
  transition: border 0.2s ease-in;
  border-radius: 5px;
  padding: 5px;
}
.header_logo:hover {
  border: 1px solid white;
}
.header_input {
  height: 30px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_search {
  display: flex;
  flex: 1;
}
.header_searchIcon {
  padding: 5px;
  height: 30px !important;
  width: 28px !important;
  background-color: #cd9042;
  cursor: pointer;
}
.header_link {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border 0.2s ease-in;
  border-radius: 5px;
  margin: 1px;
}
.header_link:hover {
  border: 1px solid white;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.header_option_1 {
  font-size: 10px;
}
.header_option_2 {
  font-size: 13px;
  font-weight: 800;
}
.header_basket {
  color: white;
}
.basket_link {
  border: 1px solid transparent;
  transition: border 0.2s ease-in;
  border-radius: 5px;
}
.basket_link:hover {
  border: 1px solid white;
}
.header_basket_count {
  color: white;
  margin: 0 5px;
}
.header_option_basket {
  display: flex;
  align-items: center;
}
/* For screens with a max-width of 600px */
@media (max-width: 600px) {
  .header_logo {
    width: 80px;
    margin-top: 5px;
  }
  .header_searchIcon {
    height: 25px !important;
    width: 23px !important;
  }
  .header_option {
    margin: 0 5px;
  }
  .header_option_1 {
    font-size: 8px;
  }
  .header_option_2 {
    font-size: 11px;
    font-weight: 600;
  }
  .header_basket_count {
    margin: 0 3px;
  }
  .header_input {
    height: 25px;
    padding: 5px;
    font-size: 12px;
  }
}
.nav_link_container {
  display: flex;
}
.navbar_listIcon {
  color: white;
  position: relative;
  top: 2px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: border 0.2s ease-in;
}
.navbar_listIcon:hover {
  border: 1px solid white;
}
@media (max-width: 200px) {
  .header_search {
    display: none;
  }
}
@media (max-width: 150px) {
  .header_logo {
    margin: 0;
  }
}
