* {
  box-sizing: border-box;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 20px;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  text-decoration: none;
  border: 2px solid transparent;
  transform: scale(100%);
}
.product:hover {
  border: 2px solid #f0c14b;
  transform: scale(105%);
}
.product_rating {
  display: flex;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0px;
}
.product > img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product_btn {
  cursor: pointer;
  position: relative;
  left: 31%;
  z-index: 100;
  padding: 7px 14px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  transition: all 0.2s ease-in-out;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
.product_btn:hover {
  background-color: #9c7e30;
}
@media (max-width: 670px) {
  .product_info {
    font-size: 12px;
  }

  .product_btn {
    font-size: 14px;
    padding: 5px 10px;
  }
  .product {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 500px) {
  .product > img {
    width: 25%;
  }

  .product_info {
    font-size: 10px;
  }

  .product_btn {
    font-size: 12px;
    padding: 3px 6px;
  }
  .product {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 300px) {
  .product > img {
    width: 15%;
    margin-bottom: 5px;
  }

  .product_info {
    font-size: 8px;
  }

  .product_btn {
    font-size: 8px;
    padding: 2px 4px;
  }
  .product {
    height: 160px;
    width: 160px;
  }
}
@media (min-width: 670px) {
  .product > img {
    width: 50%;
  }
  .product {
    padding: 30px;
  }
  .product_info {
    font-size: 16px;
  }

  .product_btn {
    font-size: 15px;
    padding: 7px 14px;
  }
}
